.header {
  display: flex;
  padding-top: 26px;
  padding-bottom: 22px;

  &_logo {
    display: block;

    &_wrapper {
      margin-right: auto;
    }
  }

  &_nav {
    margin-left: auto;
    margin-right: 68px;
    display: flex;
    align-items: center;

    @media screen and (max-width: 480px) {
      margin: 0;
    }
  }

  &_list {
    display: flex;
    gap: 32px;

    @media screen and (max-width: 480px) {
      position: fixed;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 110px;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(255, 244, 240);
      z-index: 100;

      &_active {
        display: flex;
      }
    }
  }
}

.link {
  margin-top: 15px;
  display: flex;
  align-items: center;
  font-weight: 600;
  height: 35px;
  border-bottom: 1px solid #000;

  @media screen and (max-width: 480px) {
    display: none;
  }
}
