.hero {
  display: flex;
  @media screen and (max-width: 480px) {
    gap: 56px;
    flex-direction: column;
  }
  &_section {
    background-color: #fff;
  }

  &_left {
    max-width: 60%;
    @media screen and (max-width: 480px) {
      max-width: 100%;
    }
  }

  &_title {
    margin-bottom: 141px;
    @media screen and (max-width: 480px) {
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: -1px;
      margin-bottom: 48px;
      max-width: 90%;
    }
  }

  &_subtitle {
    display: flex;
    margin-bottom: 69px;
    @media screen and (max-width: 480px) {
      margin-bottom: 40px;
    }

    &_line {
      margin-top: 20px;
      margin-right: 24px;
      height: 1px;
      width: 76px;
      border-top: 1px solid #000;
      @media screen and (max-width: 480px) {
        width: 24px;
        margin: 11px 8px 0 0;
      }
    }

    &_text {
      max-width: 514px;
      @media screen and (max-width: 480px) {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        max-width: 303px;
      }
    }
  }
}

.colorspot_orange {
  width: 621px;
  height: 621px;
  position: absolute;
  opacity: 0.13;
  filter: blur(110px);
  background-color: #fa7515;
  border-radius: 50%;
  top: -69px;
  left: 0;
  z-index: 0;
  @media screen and (max-width: 480px) {
    width: 228px;
    height: 228px;
    filter: blur(40px);
    top: -40px;
    left: 20px;
  }
}

.hero_right {
  position: relative;
}

.hero_sales {
  position: absolute;
  z-index: 1;
  top: 69px;
  left: 97px;
  box-shadow: 20px 40px 80px 0px #5960871f;
  border-radius: 8px;

  @media screen and (max-width: 480px) {
    position: initial;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 16.05px 32.09px 64.19px 0px #5960871f;
    margin-bottom: 24px;
  }
}

.hero_statistic {
  position: absolute;
  z-index: 1;
  left: 97px;
  bottom: 0;
  box-shadow: 20px 40px 80px 0px #2d33511f;

  @media screen and (max-width: 480px) {
    position: initial;
    width: 335px;
    box-shadow: 16.03px 32.07px 64.14px 0px #2d33511f;
    width: 100%;
    height: 100%;
  }
}

.hero_growth {
  position: absolute;
  left: 436px;
  z-index: 2;
  box-shadow: 20px 40px 80px 0px #2d33511f;
  border-radius: 8px;

  @media screen and (max-width: 480px) {
    width: 135px;
    height: 135px;
    left: 290px;
    top: -35px;
    box-shadow: -0.89px -0.78px 20.44px 5px rgba(45, 51, 81, 0.1215686275);
  }
}

.colorspot_green {
  width: 525px;
  height: 525px;
  position: absolute;
  filter: blur(60px);
  background-color: #e2f8f0b2;
  border-radius: 50%;
  z-index: -1;
  left: 222px;
  top: 80px;

  @media screen and (max-width: 480px) {
    width: 293px;
    height: 293px;
    filter: blur(30px);
  }
}
