.section {
  display: flex;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  justify-content: space-between;
  @media screen and (max-width: 480px) {
    flex-direction: column;
    gap: 32px;
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 323px;
  @media screen and (max-width: 480px) {
    max-width: 230px;
    gap: 8px;
  }

  &_title {
    @media screen and (max-width: 480px) {
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
    }
  }

  &_sub {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #7e8492;
    @media screen and (max-width: 480px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 60px;
  column-gap: 90px;
  justify-items: center;
  @media screen and (max-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
