.button {
  padding: 16px 45px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  // color: var(--btnPrimary);
  color: #fff;
  // background-color: var(--btnPrimaryBg);
  background-color: #1d1e25;
  cursor: pointer;

  @media screen and (max-width: 480px) {
    font-size: 14px;
    line-height: 20px;
    padding: 12px 32.5px;
  }
}
