.footer_bg {
  background-color: #fff;
}

.footer_top {
  position: relative;
  display: flex;
  padding-top: 112px;
  padding-bottom: 52px;
  justify-content: space-between;

  @media screen and (max-width: 480px) {
    flex-direction: column;
    padding-top: 51px;
    padding-bottom: 28px;
  }

  &_title {
    margin-bottom: 32px;

    @media screen and (max-width: 480px) {
      font-size: 24px;
      font-weight: 600;
      line-height: 34px;
      margin-bottom: 24px;
    }
  }

  &_undertitle {
    display: flex;

    &_text {
      max-width: 543px;

      @media screen and (max-width: 480px) {
        max-width: 100%;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 24px;
      }
    }
  }
}

.colorspot_orange {
  width: 621px;
  height: 621px;
  position: absolute;
  opacity: 0.13;
  filter: blur(110px);
  background-color: #fa7515;
  border-radius: 50%;
  top: -69px;
  left: 54px;
  z-index: 0;
  @media screen and (max-width: 480px) {
    width: 221px;
    height: 221px;
    filter: blur(40px);
    top: -50px;
    left: -30px;
  }
}

.colorspot_green {
  width: 525px;
  height: 525px;
  position: absolute;
  filter: blur(60px);
  background-color: #e2f8f0b2;
  border-radius: 50%;
  z-index: -1;
  right: -425px;
  top: -125px;

  @media screen and (max-width: 480px) {
    width: 293px;
    height: 293px;
    filter: blur(0px);
    right: 0;
    top: 0;
  }
}

.ztext {
  z-index: 1;
}

.line {
  margin-top: 20px;
  margin-right: 24px;
  height: 1px;
  width: 76px;
  border-top: 1px solid #000;

  @media screen and (max-width: 480px) {
    margin-top: 12px;
    margin-right: 8px;
  }
}

.btn {
  display: flex;
  align-items: center;
}

.footer_mid {
  padding-top: 28px;
  padding-bottom: 56px;
  display: block;

  &_wrapper {
    display: flex;
  }
}

.footer_logo {
  @media screen and (max-width: 480px) {
    width: 95px;
    height: 44px;
  }
}

.logo_description {
  max-width: 292px;
  @media screen and (max-width: 480px) {
    max-width: 248px;
  }
}

.map {
  &_list {
    margin-left: auto;
    display: flex;
    gap: 93px;
    position: relative;
    z-index: 10;

    @media screen and (max-width: 480px) {
      display: none;
    }

    &_content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }

  &_name {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 8px;
  }
}

.footer_bot {
  display: flex;
  flex-direction: column;
}

.footer_line {
  width: 100%;
  background-color: #ced1d8;
  height: 1px;
}

.footer_bot_links {
  gap: 24px;
  display: none;

  @media screen and (max-width: 480px) {
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }
}

.footer_bot_rules {
  gap: 24px;
  display: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #7e8492;

  @media screen and (max-width: 480px) {
    display: flex;
    justify-content: center;
    padding-top: 24px;
  }
}

.footer_bot_text {
  padding-top: 46px;
  margin: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #afb3bb;
  @media screen and (max-width: 480px) {
    padding-top: 24px;
  }
}
