.hero {
  display: flex;
  @media screen and (max-width: 480px) {
    gap: 56px;
    flex-direction: column;
  }
  &_section {
    background-color: #fff;
  }

  &_left {
    // max-width: 85%;
    @media screen and (max-width: 480px) {
      max-width: 100%;
    }
  }

  &_title {
    font-size: 72px;
    font-weight: 700;
    line-height: 86.4px;
    letter-spacing: -3px;
    margin-bottom: 118px;
    max-width: 80%;
    @media screen and (max-width: 480px) {
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: -1px;
      margin-bottom: 48px;
      max-width: 90%;
    }
  }

  &_subtitle {
    display: flex;
    margin-bottom: 69px;
    @media screen and (max-width: 480px) {
      margin-bottom: 40px;
    }

    &_line {
      margin-top: 20px;
      margin-right: 24px;
      height: 1px;
      width: 76px;
      border-top: 1px solid #000;
      @media screen and (max-width: 480px) {
        width: 24px;
        margin: 11px 8px 0 0;
      }
    }

    &_text {
      max-width: 60%;
      @media screen and (max-width: 480px) {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        max-width: 303px;
      }
    }
  }
}

.colorspot_orange {
  width: 621px;
  height: 621px;
  position: absolute;
  opacity: 0.13;
  filter: blur(110px);
  background-color: #fa7515;
  border-radius: 50%;
  top: -69px;
  left: 0;
  z-index: 0;
  @media screen and (max-width: 480px) {
    width: 228px;
    height: 228px;
    filter: blur(40px);
    top: -40px;
    left: 20px;
  }
}

.hero_right {
  position: relative;
}

.colorspot_green {
  width: 525px;
  height: 525px;
  position: absolute;
  filter: blur(60px);
  background-color: #e2f8f0b2;
  border-radius: 50%;
  z-index: -1;
  left: 222px;
  top: 80px;

  @media screen and (max-width: 480px) {
    width: 293px;
    height: 293px;
    filter: blur(30px);
  }
}

.svg_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.text_rotate {
  // position: absolute;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.arrow {
  position: absolute;
  right: 51px;
}
