.features {
  padding-top: 160px;
  display: flex;
  @media screen and (max-width: 480px) {
    padding-top: 56px;
    gap: 32px;
    flex-direction: column;
  }
}

.img {
  position: relative;
  width: 50%;
  @media screen and (max-width: 480px) {
    width: 100%;
  }

  &_bg {
    display: block;
    object-fit: cover;
    @media screen and (max-width: 480px) {
      width: 100%;
      height: 90vw;
    }
  }
}

.chart {
  position: absolute;
  right: 36px;
  bottom: 36px;
  border-radius: 8px;
  @media screen and (max-width: 480px) {
    width: 177px;
    height: 181px;
    right: 20px;
    bottom: 20px;
  }
}

.text {
  margin-left: 58px;
  padding: 17px 0;
  @media screen and (max-width: 480px) {
    margin-left: 0;
    padding: 0;
  }

  &_title {
    font-size: 56px;
    font-weight: 600;
    line-height: 67.2px;
    letter-spacing: -2px;
    margin-bottom: 24px;
    @media screen and (max-width: 480px) {
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 16px;
    }

    &_sub {
      max-width: 360px;
      // color: var(--grey);
      color: #7e8492;
      margin-bottom: 40px;
      @media screen and (max-width: 480px) {
        max-width: 100%;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 24px;
      }
    }
  }

  &_content {
    gap: 16px;
    align-items: center;
    max-width: 393px;
    display: flex;
    @media screen and (max-width: 480px) {
      gap: 8px;
      max-width: 100%;
      font-size: 14px;
      line-height: 20px;
    }

    &_svg {
      min-width: 24px;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  @media screen and (max-width: 480px) {
    gap: 16px;
  }
}
