.overview {
  display: block;
}

.overview_section {
  background-color: #1d1e25;
  // background-color: var(--bg);
  color: #fff;
}

.title_wrapper {
  max-width: 60%;
  margin-bottom: 80px;
  @media screen and (max-width: 480px) {
    max-width: 100%;
    margin-bottom: 32px;
  }
}

.title {
  font-size: 56px;
  font-weight: 600;
  line-height: 67.2px;
  letter-spacing: -2px;
  margin-bottom: 24px;
  @media screen and (max-width: 480px) {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 16px;
  }

  &_sub {
    max-width: 660px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #7e8492;
    // color: var(--grey);
    @media screen and (max-width: 480px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.overview_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 56px;
  column-gap: 259px;
  @media screen and (max-width: 480px) {
    width: 100%;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

.overview_grid svg {
  @media screen and (max-width: 480px) {
    width: 24px;
    height: 24px;
  }
}

.grid_element {
  display: flex;
  flex-direction: column;
  max-width: 453px;
  gap: 24px;
  @media screen and (max-width: 480px) {
    gap: 12px;
  }

  &_name {
    max-width: 265px;
    @media screen and (max-width: 480px) {
      max-width: 100%;
      font-size: 18px;
      font-weight: 600;
      line-height: 26px;
    }
  }

  &_content {
    color: #7e8492;
    // color: var(--grey);
    @media screen and (max-width: 480px) {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }
}
