.wrapper {
  position: relative;
  display: flex;
  text-align: center;

  @media screen and (max-width: 480px) {
  }

  .email {
    min-width: 280px;
    border: transparent;
    border-bottom: 1px solid #ced1d8;
    margin-right: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    @media screen and (max-width: 480px) {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      min-width: 219px;
      margin-right: auto;
    }
  }
}
