:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --primary: "#1D1E25";
  --secondary: "#7E8492";
  --bg: "#1D1E25";
  --btnPrimaryBg: "#1D1E25";
  --btnPrimary: "#fff";
  --btnSecandary: "#fff";
  --btnSecondaryBg: "#1463FF";
  --success: "#46B277";
  --danger: "#dc3545";
  --grey: "#7E8492";
  --link: "#1463FF";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.mobile {
  display: none;

  @media screen and (max-width: 480px) {
    display: inherit;
  }
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  color: var(--primary);
  cursor: default;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;

  @media screen and (max-width: 480px) {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

svg {
  display: block;
}

input {
  outline: none;
}

.desktop {
  @media screen and (max-width: 480px) {
    display: none;
  }
}

.mobile {
  display: none;

  @media screen and (max-width: 480px) {
    display: inherit;
  }
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

section {
  padding: 105px 0;
  position: relative;
  @media screen and (max-width: 480px) {
    padding: 32px 0;
  }
}

li {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 96px;
  letter-spacing: -3px;
}

h2 {
  font-size: 64px;
  font-weight: 600;
  line-height: 76.8px;
}

h3 {
  font-size: 40px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -1px;
}

h4 {
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: -1px;
}

h5 {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}

h6 {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

a {
  color: inherit;
  text-decoration: none;
}
