.burger {
  cursor: pointer;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  gap: 3.8px;
  z-index: 9999;
  background-color: transparent;
  border: none;
  display: none;

  @media screen and (max-width: 480px) {
    display: inherit;
  }
}

.bar_top {
  width: 16.8px;
  height: 2.4px;
  background-color: #101010;
  transition: 0.4s;
  border-radius: 4px;
}

.bar_mid {
  width: 16.8px;
  height: 2.4px;
  background-color: #101010;
  transition: 0.4s;
  border-radius: 4px;
}

.bar_bot {
  width: 9.4px;
  height: 2.4px;
  background-color: #101010;
  transition: 0.4s;
  border-radius: 4px;
  margin-left: auto;
}

.active .bar_top:nth-child(1) {
  transform: rotate(-45deg) translate(-4px, 5px);
}

.active .bar_mid:nth-child(2) {
  opacity: 0;
}

.active .bar_bot:nth-child(3) {
  transform: rotate(45deg) translate(-4px, -5px);
  width: 16.8px;
}
