.canvas {
  display: flex;
  width: 250px;
  height: 250px;
  margin: 0;
  // padding: 15px 18px;
  background-image: url(../../../../../public/img/canvasNet.jpg);
  box-sizing: border-box;

  &_wrapper {
    border: 3px solid black;
  }
}
