.section {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.text {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  gap: 24px;
  @media screen and (max-width: 480px) {
    max-width: 100%;
    gap: 16px;
  }

  &_title {
    font-size: 56px;
    font-weight: 600;
    line-height: 67.2px;
    letter-spacing: -2px;
    @media screen and (max-width: 480px) {
      font-size: 24px;
      font-weight: 600;
      line-height: 34px;
    }
  }

  &_sub {
    font-size: 18px;
    font-weight: 500;
    color: #7e8492;
    @media screen and (max-width: 480px) {
      font-size: 14px;
      line-height: 20px;
      text-align: left;
    }
  }
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 64px;
  row-gap: 56px;
  @media screen and (max-width: 480px) {
    grid-template-columns: 1fr;
  }

  &_element {
    display: flex;
    gap: 60px;
    @media screen and (max-width: 480px) {
      gap: 0;
      justify-content: space-between;
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    @media screen and (max-width: 480px) {
      max-width: 50%;
    }
  }

  &_name {
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -1px;

    @media screen and (max-width: 480px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &_discription {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #7e8492;
    @media screen and (max-width: 480px) {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }
}

.img_bg {
  position: relative;
}

.img {
  display: block;
  @media screen and (max-width: 480px) {
    width: 18vh;
    height: 23vh;
  }
}

.svg {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 16px;
  background-color: rgba(22, 26, 52, 0.7);
  border-radius: 50%;
  @media screen and (max-width: 480px) {
    padding: 8px;
  }
}
