.top {
  &_grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    margin-bottom: 80px;

    @media screen and (max-width: 480px) {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 16px;
      margin-bottom: 32px;
      padding: 0 32px;

      :nth-child(4) {
        display: none;
      }

      :nth-child(4n + 3) {
        text-align: right;
        align-items: end;
      }
    }

    &_element {
      display: flex;
      flex-direction: column;
    }

    &_title {
      font-size: 64px;
      font-weight: 600;
      line-height: 76.8px;
      @media screen and (max-width: 480px) {
        font-size: 32px;
        line-height: 42px;
        letter-spacing: -1px;
        display: flex;
      }
    }

    &_content {
      font-size: 17px;
      font-weight: 500;
      line-height: 32px;
      max-width: 200px;
      color: #7e8492;
      @media screen and (max-width: 480px) {
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        display: flex;
      }
    }
  }
}

.line {
  margin: auto 0;
  height: 99px;
  width: 1px;
  background-color: #ced1d8;
  @media screen and (max-width: 480px) {
    height: 64px;
    width: 2px;
  }
}

.img_bg {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 80px;
  @media screen and (max-width: 480px) {
    margin-bottom: 40px;
  }
}

.bottom {
  display: flex;
  gap: 30px;
  @media screen and (max-width: 480px) {
    flex-direction: column;
    gap: 16px;
  }

  &_title {
    font-size: 56px;
    font-weight: 600;
    line-height: 67.2px;
    letter-spacing: -2px;

    @media screen and (max-width: 480px) {
      font-size: 24px;
      line-height: 34px;
      text-align: left;
      letter-spacing: 0;
    }
  }

  &_content {
    max-width: 34%;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #7e8492;

    @media screen and (max-width: 480px) {
      max-width: 100%;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
