.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;
  @media screen and (max-width: 480px) {
    flex-direction: column;
    gap: 16px;
    max-width: 59%;
    margin-bottom: 0;
  }

  &_left {
    width: 530px;
    display: flex;
    font-size: 56px;
    font-weight: 600;
    line-height: 67.2px;
    letter-spacing: -2px;
    @media screen and (max-width: 480px) {
      font-size: 24px;
      line-height: 34px;
      width: auto;
    }
  }

  &_right {
    width: 376px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #7e8492;
    @media screen and (max-width: 480px) {
      font-size: 14px;
      line-height: 20px;
      width: auto;
    }
  }
}

.quotes {
  display: flex;
  position: relative;
  top: 10px;
  @media screen and (max-width: 480px) {
    width: 32px;
    top: 25px;
  }
}

.comment {
  width: 900px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 16px;
  @media screen and (max-width: 480px) {
    margin-left: auto;
    width: 77%;
    gap: 11px;
  }

  &_rating {
    display: flex;
    gap: 8px;
    @media screen and (max-width: 480px) {
      svg {
        width: 112px;
        height: 16px;
      }
    }
  }

  &_text {
    font-size: 40px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -1px;
    margin-bottom: 24px;
    @media screen and (max-width: 480px) {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 0;
    }
  }
}

.wrapper {
  display: flex;
  @media screen and (max-width: 480px) {
  }
}

.avatar {
  display: block;
  object-fit: contain;
  border-radius: 50%;
  margin-right: 24px;
  @media screen and (max-width: 480px) {
    display: flex;
    width: 40px;
    height: 40px;
    margin-right: 12px;
  }

  &_text {
    display: flex;
    flex-direction: column;
    gap: 4;

    &_name {
      font-size: 18px;
      font-weight: 600;
      line-height: 26px;
      color: #1d1e25;
      @media screen and (max-width: 480px) {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
      }
    }

    &_job {
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      color: #7e8492;
      @media screen and (max-width: 480px) {
        font-size: 12px;
      }
    }
  }
}

.buttons_wrapper {
  position: absolute;
  right: 0;
  display: flex;
  gap: 16px;
  margin-left: auto;
  @media screen and (max-width: 480px) {
    display: flex;
    gap: 8px;
    right: 20px;
  }
}

.btn_left {
  padding: 16px;
  border-radius: 50%;
  background-color: #fff;
  // border: 1px solid #ced1d8;
  @media screen and (max-width: 480px) {
    padding: 6px;
    svg {
      width: 18px;
      height: 18px;
    }
  }
}

.btn_right {
  padding: 16px;
  border-radius: 50%;
  background-color: #1d1e25;
  // border: 1px solid #1d1e25;
  @media screen and (max-width: 480px) {
    padding: 6px;
    svg {
      width: 18px;
      height: 18px;
    }
  }
}
