.title_wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  margin-bottom: 80px;
  @media screen and (max-width: 480px) {
    gap: 16px;
    margin-bottom: 32px;
  }
}

.title {
  font-size: 56px;
  font-weight: 600;
  line-height: 67.2px;
  letter-spacing: -2px;
  @media screen and (max-width: 480px) {
    font-size: 24px;
    line-height: 34px;
  }

  &_sub {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    color: #7e8492;
    @media screen and (max-width: 480px) {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }
}

.img {
  display: block;
  width: 582px;
  height: 332px;
  margin-bottom: 16px;
  @media screen and (max-width: 480px) {
    width: 299px;
    height: 191px;
  }
}

.content {
  position: relative;
  display: flex;
  gap: 32px;
  @media screen and (max-width: 480px) {
    overflow-x: auto;
    gap: 16px;
  }
}

.content_text {
  display: flex;
  flex-direction: column;
}

.img_discription {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  &_date__author {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #7e8492;

    @media screen and (max-width: 480px) {
      font-size: 12px;
      line-height: 20px;
    }
  }
}

.news {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -0.02em;
  @media screen and (max-width: 480px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.svg {
  position: absolute;
  padding: 20px;
  background-color: #fff;
  border-radius: 50%;
  top: 126px;
  left: 560px;
  @media screen and (max-width: 480px) {
    padding: 8px;
    top: 77px;
    left: 287px;
  }
}

.svg svg {
  @media screen and (max-width: 480px) {
    width: 24px;
    height: 24px;
  }
}
